input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	font-family: 'bosch_sansregular';
	font-size: 24px;
	-webkit-appearance: none;
  border-radius: 0;
  border: none;
}


input[type="image"] {
	-webkit-appearance: none;
  border-radius: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {

}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px 10px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}


input[type="text"] {
	transition: text-indent 0.5s 0.2s ease;
	text-indent: 0%;
  @include input-placeholder {
    color: $black;
  }
  // &:focus {
  // 	@include input-placeholder {
	 //  	transition: text-indent 0.5s 0.2s ease; 
		//   text-indent: -300%;
		//   opacity: 1;
  // 	}
  // }
}


label span {
	color: $error;
	font-size: 16px;
}

.fields { 
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		outline: none;
		//background: lighten($grey, 55%);
		font-family: 'bosch_sansregular';
		background: $light-grey;
		width: 100%;
		@include rhythm(0, 1.5, 1.5, 0);
			@include input-placeholder {
	    	color: darken($grey, 5%);
	  }
	  &:focus {
	  	@include transition(all 0.5s ease-in-out);
	  	//background: $white;
	  }
	  &.has-value {
	  	//padding-left: 0;
	  	background: lighten($grey, 55%);
	  	color: darken($grey, 50%);
	  }
	}
	p {
		position: relative;
		@extend %vertical-align;
		@include rhythm(0, 3.1, 0, 0);
		padding-left: 3.5em;
		@include adjust-leading-to(1.7);
	}
}

.sliding-u-l-r {
	display: block;
	height: 3px;
	width: 0;
	background-color: $grey;
	transition: width .5s ease, background-color .5s ease;
	&.active {
		width: 100%;
	}
}

	// .error {
	// input[type="text"],
	// input[type="email"],
	// input[type="url"],
	// input[type="password"],
	// input[type="search"],
	// textarea {
	// 		color: $error !important;
	// 	}
	// 	.sliding-u-l-r {
	// 		width: 100%;
	// 		background-color: $error;
	// 	}
	// 	.error {
	// 		color: $error !important;
	// 		@include rhythm(0, .5, .5, 0);
	// 		display: block;
	// 	}
	// }
.error {
	color: $error !important;
	&:active {
		color: $error !important;
	}
}
.error-message {
	padding-left: 2px;
	//display: none;
	color: $error;
	//display: block;
	@include adjust-font-size-to(16px, 1.6);
	&.alt {
		background: $light-grey;
	}
	&:before {
		content: "\f06a";
	  font-family: FontAwesome;
	  font-style: normal;
	  font-weight: normal;
	  text-decoration: inherit;
	  margin-right: 5px;
	}
}

input[type="submit"] {
	@include rhythm(0, 0, 0, .5);
}		

// .sliding-u-l-r {
// display: inline-block;
// }
// .sliding-u-l-r:after {
// content: '';
// display: block;
// height: 3px;
// width: 0;
// background: transparent;
// transition: width .5s ease, background-color .5s ease;
// }
// .sliding-u-l-r:hover:after {
// width: 100%;
// background: blue;
// }

/* 	&:active {
		border-bottom: solid 1px lighten($grey, 40%);
	}
		border-bottom: solid 1px lighten($grey, 40%);
		border-width: 10px; */


.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	//border: 1px solid #cacece;
	//box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 1em;
	background: $light-grey;
	//border-radius: 3px;
	display: inline-block;
	position: relative;
	float: left;
	z-index: 1;
}

.regular-checkbox + label:active,
.regular-checkbox:checked + label:active {
	//box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	//border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
	//@include transition(opacity 2.5s ease-in-out);
}

.regular-checkbox:checked + label:after {
	font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
	content: '\f00c';
	font-size: 14px;
	position: absolute;
	top: 6px;
	left: 3px;
	color: green;
}


.big-checkbox + label {
	padding: 20px;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
}

/* RADIO */

.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

.regular-radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	top: 6px;
	left: 3px;
	font-size: 32px;
}

.regular-radio:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.big-radio + label {
	padding: 16px;
}

.big-radio:checked + label:after {
	width: 24px;
	height: 24px;
	left: 4px;
	top: 4px;
}



.NFI-wrapper {
	// the container div
	font-size: 12px;
	// -webkit-box-shadow: 0px 1px 0px #fff, 0px -1px 0px rgba(0,0,0,.1);
	// -moz-box-shadow: 0px 1px 0px #fff, 0px -1px 0px rgba(0,0,0,.1);
	// box-shadow: 0px 1px 0px #fff, 0px -1px 0px rgba(0,0,0,.1); 
	width: 100%;

	

}
.NFI-button {
	// the button div element
	// -moz-border-radius-topleft: 3px; 
	// -moz-border-radius-bottomleft: 3px;
	// -webkit-border-top-left-radius: 3px;
	// -webkit-border-bottom-left-radius: 3px;
	text-transform: uppercase;
	// border-top-left-radius: 3px; 
	// border-bottom-left-radius: 3px;
	//margin-top: 2px;

	background-color: #9b9b9b;

	// background-image: linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
	// background-image: -o-linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
	// background-image: -moz-linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
	// background-image: -webkit-linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
	// background-image: -ms-linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
	// background-image: -webkit-gradient(
	// 	linear,
	// 	left bottom,
	// 	left top,
	// 	color-stop(0, #1774A3),
	// 	color-stop(0.56, #0194DD)
	// );
	//text-shadow: 0px -1px 0px #0172bd;
	// border: solid #0172bd 1px;
	// border-bottom: solid #00428d 1px;
	
	// -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.2);
	// -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,.2);
	// box-shadow: inset 0px 1px 0px rgba(255,255,255,.2); 	
	
	color: #fff;
	width: 150px;
	width: 30% !important;
	line-height: 60px;
	&:hover {
		background-color: $grey;
	}
}
.NFI-filename {
	// the text input element which collects and shows the value
	// -moz-border-radius-topright: 3px; 
	// -moz-border-radius-bottomright: 3px;
	// -webkit-border-top-right-radius: 3px;
	// -webkit-border-bottom-right-radius: 3px;
	// border-top-right-radius: 3px; 
	// border-bottom-right-radius: 3px;
	//border: solid #777 1px;
	border-left: none;
	height: 60px;
	line-height: 60px;
	
	background: #fff;
	// -webkit-box-shadow: inset 0px 2px 0px rgba(0,0,0,.05);
	// -moz-box-shadow: inset 0px 2px 0px rgba(0,0,0,.05);
	// box-shadow: inset 0px 2px 0px rgba(0,0,0,.05); 

	color: #777 !important;
	//text-shadow: 0px 1px 0px #fff;
	float: left;
	width: 70% !important;
	@include breakpoint($large){
		border-right: solid 1em white !important;
	}
}