/* Light / Light italic */
@font-face {
  font-family: 'FontAwesome';
  src:  url('../../fonts/fontawesome/fontawesome-webfont.eot?v=4.3.0');
  src:  url('../../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), 
        url('../../fonts/fontawesome/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
        url('../../fonts/fontawesome/fontawesome-webfont.woff?v=4.3.0') format('woff'),
        url('../../fonts/fontawesome/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
        url('../../fonts/fontawesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'bosch_sanslight';
    src: url('../../fonts/boschsans-light-webfont.eot');
    src: url('../../fonts/boschsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/boschsans-light-webfont.woff2') format('woff2'),
         url('../../fonts/boschsans-light-webfont.woff') format('woff'),
         url('../../fonts/boschsans-light-webfont.ttf') format('truetype'),
         url('../../fonts/boschsans-light-webfont.svg#bosch_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bosch_sanslight_italic';
    src: url('../../fonts/boschsans-lightitalic-webfont.eot');
    src: url('../../fonts/boschsans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/boschsans-lightitalic-webfont.woff2') format('woff2'),
         url('../../fonts/boschsans-lightitalic-webfont.woff') format('woff'),
         url('../../fonts/boschsans-lightitalic-webfont.ttf') format('truetype'),
         url('../../fonts/boschsans-lightitalic-webfont.svg#bosch_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bosch_sansregular';
    src: url('../../fonts/boschsans-regular-webfont.eot');
    src: url('../../fonts/boschsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/boschsans-regular-webfont.woff2') format('woff2'),
         url('../../fonts/boschsans-regular-webfont.woff') format('woff'),
         url('../../fonts/boschsans-regular-webfont.ttf') format('truetype'),
         url('../../fonts/boschsans-regular-webfont.svg#bosch_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bosch_sansregular_italic';
    src: url('../../fonts/boschsans-regularitalic-webfont.eot');
    src: url('../../fonts/boschsans-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/boschsans-regularitalic-webfont.woff2') format('woff2'),
         url('../../fonts/boschsans-regularitalic-webfont.woff') format('woff'),
         url('../../fonts/boschsans-regularitalic-webfont.ttf') format('truetype'),
         url('../../fonts/boschsans-regularitalic-webfont.svg#bosch_sansregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Medium / Medium italic */
@font-face {
    font-family: 'bosch_sansmedium';
    src: url('../../fonts/boschsans-medium-webfont.eot');
    src: url('../../fonts/boschsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/boschsans-medium-webfont.woff2') format('woff2'),
         url('../../fonts/boschsans-medium-webfont.woff') format('woff'),
         url('../../fonts/boschsans-medium-webfont.ttf') format('truetype'),
         url('../../fonts/boschsans-medium-webfont.svg#bosch_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bosch_sansmedium_italic';
    src: url('../../fonts/boschsans-mediumitalic-webfont.eot');
    src: url('../../fonts/boschsans-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/boschsans-mediumitalic-webfont.woff2') format('woff2'),
         url('../../fonts/boschsans-mediumitalic-webfont.woff') format('woff'),
         url('../../fonts/boschsans-mediumitalic-webfont.ttf') format('truetype'),
         url('../../fonts/boschsans-mediumitalic-webfont.svg#bosch_sansmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Bold / Bold italic */
@font-face {
    font-family: 'bosch_sansbold';
    src: url('../../fonts/boschsans-bold-webfont.eot');
    src: url('../../fonts/boschsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/boschsans-bold-webfont.woff2') format('woff2'),
         url('../../fonts/boschsans-bold-webfont.woff') format('woff'),
         url('../../fonts/boschsans-bold-webfont.ttf') format('truetype'),
         url('../../fonts/boschsans-bold-webfont.svg#bosch_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bosch_sansbold_italic';
    src: url('../../fonts/boschsans-bolditalic-webfont.eot');
    src: url('../../fonts/boschsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/boschsans-bolditalic-webfont.woff2') format('woff2'),
         url('../../fonts/boschsans-bolditalic-webfont.woff') format('woff'),
         url('../../fonts/boschsans-bolditalic-webfont.ttf') format('truetype'),
         url('../../fonts/boschsans-bolditalic-webfont.svg#bosch_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Black / Black italic */
@font-face {
    font-family: 'bosch_sansblack';
    src: url('../../fonts/boschsans-black-webfont.eot');
    src: url('../../fonts/boschsans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/boschsans-black-webfont.woff2') format('woff2'),
         url('../../fonts/boschsans-black-webfont.woff') format('woff'),
         url('../../fonts/boschsans-black-webfont.ttf') format('truetype'),
         url('../../fonts/boschsans-black-webfont.svg#bosch_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bosch_sansblack_italic';
    src: url('../../fonts/boschsans-blackitalic-webfont.eot');
    src: url('../../fonts/boschsans-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/boschsans-blackitalic-webfont.woff2') format('woff2'),
         url('../../fonts/boschsans-blackitalic-webfont.woff') format('woff'),
         url('../../fonts/boschsans-blackitalic-webfont.ttf') format('truetype'),
         url('../../fonts/boschsans-blackitalic-webfont.svg#bosch_sansblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




















