header.header{
	background: $grey;
}


.hero {
	background: $light-grey;
	.inner {
		//background: $light-grey;
		h1 {
			color: $black;
		}

		h2, h3 {
			color: $dark-grey;
		}
	}
}



.fixed-wrapper{
	    position: fixed;
	    top: 0;
}


.steps {
	ul {
		li {
			&.opacity {
				@include opacity(0.4);
			}
			h4 { 
				color: $primary-color;
				&.link {
					font-size: 14px;
					@include breakpoint($large){
						font-size: 18px;
					}
				}
			}
			p {

			}
		}
	}
}

.title {
	font-family: 'bosch_sansbold';
	@include adjust-font-size-to(24px, 2.5);
}

.small-type {
	@include adjust-font-size-to(14px, 2);
}



form {
	ul {
		li {
			.fields {
				h3 {
					font-family: 'bosch_sansregular';
					color: lighten($black, 50%);
					&.active {
						color: $primary-color;
						//font-size: 20px;
					}
				}
				@include breakpoint($medium){
					&.one-fourth { 
					}
					&.two-fourths {
					}
					&.three-fourths {
					}
				}
				&.submit {
				}
			}
		}
	}
}



footer {
	background-color: $light-grey;
	.inner {
		.col1 {
			ul {
				li {
					
				}
			}
		}
		.col2 {
			text-align: left;
			@include breakpoint($large){
				text-align: right;
			}
			p {
				@include adjust-leading-to(1);
			}
			img {
				display: inline;
			}
		}
	}
}

#v-gradient {
  @include background-image(linear-gradient($tertiary-color, $primary-color));
}


