.preloader {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background: $primary-color;
	z-index: 20000;
	/*
		-webkit-transform-style: preserve-3d;
	  -moz-transform-style: preserve-3d;
	  transform-style: preserve-3d; 
	  */
	  text-align: center;
	  .loading { 
	  	width: 100%;
	  	height: 50px;
	  	position: absolute;
	  	top: 50%;
	  	-webkit-transform: translateY(-50%);
	  	-ms-transform: translateY(-50%);
	  	transform: translateY(-50%);
	  	.spinner {
	  		width: 24px;
	  		margin: 0 auto;
	  		@include rhythm(0, 0, 0, 1);
	  	}
	  	p {
	  		@include rhythm(0, .3, .3, 0);
	  		font: arial;
	  		text-transform: uppercase;
	  		@include adjust-font-size-to(12px, 1);
	  		color: $white;
	  		text-align: center;
	  		letter-spacing: 1px;
	  	}
	  }
	}


	#progress-bar, #info {
		height: 5px;
		width: 0;
		position: fixed; 
		top: 0;
		left: 0;
		z-index: 20000;
		background-color: $white;
	}


	.container {
		max-width: 80em;
		margin: 0 auto;
		padding: 0 2em;
		@include rhythm(0, 2, 2, 0);
	}

	header.header{
		//@extend %bdr;
		.inner {
			//@extend %bdr;
			@extend .max-width;
			margin: 0 auto;
			height: 100px;
			@include breakpoint($large){
				height: 140px;
			}
			img {
				@extend %vertical-align;
				float: right;
				width: 180px;
				@include breakpoint($large){ 
					width: 214px;
				}
			}
		}
	}


	.hero {
		//@extend %bdr;
		position: relative;
		overflow: visible;
		z-index: 0;
		.inner {
			@include rhythm(0, 3, 3, 0);
			position: relative;
			@extend .max-width;	
			//@include clearfix;
			@extend %clearfix; 
			//@extend %bdr;
			.col {
				&.col1 {
					position: relative;
					@include breakpoint($large){	
						position: absolute;
						z-index: 1;
						width: 37%;
						top: 30px;
						left: 20px;
					}
				}
				&.col2 {
					z-index: 0;
					img {
						width: 100%;
						@include breakpoint($large){
							float: right;
							width: 80%;
						} 
					}
				}
			}
		}
		.scroll-down {
			position: absolute;
			bottom: 20px;
			width: 100%;
			z-index: 1;
			margin: 0 auto;
			//@extend %bdr;
			img {
				position: relative;
				margin: 0 auto;
				width: 30px;
				height: auto;
				&:hover {
					cursor: pointer;
				}
				@include breakpoint($medium){
					width: 43px;
				}
				@include breakpoint($large){
					width: 63px;
				}
			}
		}
	}

	.steps {
		ul.inner {
			@include rhythm(0, 3, 3, 0);
			@extend .max-width;	
			li {
				@extend %clearfix;
				position: relative;
				@include rhythm(0, 3, 1, 0);
				.inner {
					@include span(10 of 12);
				}
				.outer {
					@include span(2 of 12);
					position: absolute;
					right: 0;
					bottom: 0;
					height: 100%;
				}
				h4 {
					&.link {
						float: right;
						@extend %vertical-align;
					}
				}
				p {

				}
				&.myBdr {
					border-bottom: solid 1px $primary-color;
				}
			}
		}
	}


	footer {
		.inner {
			@include rhythm(0, 3, 3, 0);
			@extend .max-width;
			@extend %clearfix;
			.col1 {
			//@extend %bdr;
			ul {
				@include rhythm(0, 0, 0, 5);
				li {
					margin-right: 1em;
					@include rhythm(0, 0, 0, 2);
					@include breakpoint($medium){
						display: inline-block;
					}
					@include breakpoint($large){
						display: inline-block;
					}
				}
			}
			@include breakpoint($large){
				@include span(9 of 12);
			}
		}
		.col2 {
			//@extend %bdr;
			@include breakpoint($medium){
				@include span(3 of 12);
			}
			@include breakpoint($large){
				@include span(3 of 12);
			}
		}
	}
}

.remodal {
	.logo {
		@include rhythm(0, 0, 0, 2);
		width: 150px;
	}
	h1, h2, p {
		text-align: left;
	}
	.inner {
		@extend %clearfix;
		.col1 {
				//@extend %bdr;
				@include rhythm(0, 5, 0, 0);
				padding-left: 2.6em;
				@include breakpoint($large){
					@include span(7 of 12);
				}
			}
			.col2 {
				//@extend %bdr;
				img {
					float: right;
					width: 100%;
				}
				@include breakpoint($large){
					@include span(5 of 12);	
				}
			}
		}
		p {
			padding-left: 2.6em;
			display: block;
		}
	}


	.table-list {
		@extend %clearfix;
		.col {
			@include span(6 of 12 no-gutters);
			@include breakpoint($medium){
				@include span(3 of 12 no-gutters);
			}
			@include breakpoint($large){
				@include span(3 of 12 no-gutters);
			}
			li {
				display: block;
				@include rhythm(0, 1, 1, 0);
				text-align: left;
				@include breakpoint($medium){
					padding-left: 10px;
					&:nth-child(2n) {
						background-color: #D2D2D2;
					}
				}
				@include breakpoint($large){
					padding-left: 10px;
					&:nth-child(2n) {
						background-color: #D2D2D2;
					}
				}
			}
		}
	}




	.cssmenu {
		@extend .max-width;
		@include rhythm(0, 2, 2, 0);
		ol, ul {
			.has-sub {
			//border-bottom: solid 1px lighten($grey, 40%);
			//@include opacity(.6);
			//@include transition(opacity .3s ease-in-out);
		/* &:hover {
			@include opacity(1);
			} */
			>a {
				cursor: pointer;
				text-decoration: none;
		//@include rhythm(0, 1.5, 1.5, 0);
		display: block;
		p {
			@include rhythm(0, 0, 0, 1);
		}
		h3 {
			color: $tertiary-color;
			position: relative;
			&:after {
				font-size: 16px;
				content: "\f10c";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				position: absolute;
				right: 0px;
				top: 0px;
			}
			span {
				display: block;
				padding-right: 2em;
			}	
		}
	}

	&.open {
		//@include opacity(1);
		>a {
			h3{
				color: $primary-color;
				&:after {
					content: "\f111";
				}
			}
			>p {
				color: $primary-color;
			}
		}
		.more {
			&:after {
				content: "\f106" !important;
			} 
		}
	}
}
}
&.faq {
	.has-sub {
		border-bottom: solid 1px $grey;
		@include transition(opacity .3s ease-in-out);
		>a {
			@include rhythm(0, 2.5, 1, 0);
		}
	}
}
}


.active-opacity {
	@include opacity(.2);
}

.open {
	@include opacity(1);
}


ul.inner-list {
	@include rhythm(0, 0, 0, 2);
	display: block;
	padding-left: 2em;
	li {
		list-style-type: disc;
		@include adjust-leading-to(2.2);
		@include rhythm(0, 1, 1, 0);
	}
}


ol.inner-list {
	@include rhythm(0, 0, 0, 2);
	display: block;
	padding-left: 2em;
	li {
		list-style-type: decimal;
		@include rhythm(0, 1, 1, 0);
		@include adjust-leading-to(2.2);
		ul.inner-list {
			li {
				list-style-type: disc;
				@include adjust-leading-to(2.2);
				@include rhythm(0, 1, 1, 0);
			}
		}
	}
}

.sub-list {
	display: none;
	li {
		p {
				//margin: 0;
			}
		}
	}

	form {
		ul {
			li {
			//@extend %bdr;
			//@include clearfix;
			//@extend %clearfix;
			.fields {
				//@extend %bdr;
				display: block;
				width: 100%;
				@include clearfix;
				//@include has-layout;
				//@extend %clearfix;
				@extend %clearfix;
				//Clearfix fix
				@include rhythm(0, 1, 1, 0);
				position: relative;
				overflow: visible;
				display: table;
				h3 {
					@include rhythm(0, 0, .6, 0);
					@include adjust-font-size-to(21px, 2);
					&.active {
						color: $primary-color;
						//font-size: 20px;
					}
				}
				@include breakpoint($medium){
					&.one-fourth {
						width: 25%;
						float: left;
					}
					&.one-third {
						width: 33.333%;
						float: left;
					}
					&.two-fourths {
						width: 50%;
						float: left;
						&.extra {
							.one {
								width: 54%;
							}
							.two {
								width: 22%;
							}
							.three {
								width: 22%;
							}
						}
					}
					&.three-fourths {
						width: 75%;
						float: left;
					}
				}
				&.submit {
					input [type="submit"]{
						@include rhythm(1, 0, 0, 0);
					}  
				} 
			}
			//@include rhythm(0, .5, .5, 0);
		}
	}
}

.bdr-right {
	@include breakpoint($medium){
		border-right: solid 1em $white;
	}
}


table {
	text-align: left;
	thead {
		tr {
			th {
			font-family: 'bosch_sansbold';
			padding: 0 1em;
			@include rhythm(0, 0, 2, 0);
			}
		}
	}
	tr {
		td {
			padding: 0 1em;
			@include rhythm(0, 0, 2, 0);
			@include adjust-font-size-to(16px, 2);
		}
	}
}

.col {
display: block !important;
}